@import "tailwindcss";
@plugin "@tailwindcss/typography";

* {
  /*border: red 2px solid;*/
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #14771e;
  --color-primary-light: #20c331;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f2e8;
    --foreground: #ede6db;
    --dark: #171514;
  }
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.blackOutline {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

svg {
  stroke-width: 1;
  stroke: #14771e;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.hover-bounce:hover {
  animation: bounce 0.8s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fadeOut {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.fadeTransition {
  animation: fadeOut 1s ease-in forwards; /* Default state */
}

.fadeTransition:hover {
  animation: fadeIn 1s ease-out forwards; /* Hover state */
}

@keyframes navOpen {
  from {
    width: 65px;
    color: transparent;
    background-color: transparent;
    border: 2px solid transparent;
  }
  to {
    width: 100%;
    color: white;
    background-color: black;
    border: 2px solid green;
  }
}

.navOpen {
  animation: navOpen 1s ease forwards;
  overflow: hidden;
}

@keyframes navClose {
  from {
    width: 100%;
    color: white;
    background-color: black;
    border: 2px solid green;
  }
  to {
    width: 65px;
    color: transparent;
    background-color: transparent;
    border: 2px solid transparent;
  }
}

.navClose {
  animation: navClose 1s ease-out forwards;
  overflow: hidden;
}

.recursive-border * {
  border: 1px solid red;
}

.blog-bg {
  background-color: rgba(0, 0, 0, 0.63);
}
