---
import Footer from "../components/Footer.astro";
import SplitContact from "../components/SplitContact.astro";
import PageLayout from "../layouts/PageLayout.astro"
---

<PageLayout>
    <div class="w-full h-screen overflow-y-auto mx-auto">
    <SplitContact />
    <Footer />
    </div>
</PageLayout>

